{% extends "user_gen.html" %}

{% block content %}
  <h1>Open Rides</h1>
  <body>
  {% if rides != None %}
  {%for ride in rides %}
  <h5>Join {{ ride.owner }}'s Ride to {{ ride.destination }}.</h5>
    <p>Trip will arrive at its destination, {{ ride.destination }} at {{ ride.arrival }}</p>
    <form action={% url 'add_ride' ride=ride.id user=id num=num %} method="post">
      {% csrf_token %}
      <!--<table>
        {{ form.as_table }}
      </table>-->
      <input type="submit" value="Join Ride">
    </form>
   {%endfor%}
  {% else %}
    <p>There are currently no open rides that match your request. Please request your own ride or try again later.</p>
  {% endif %}
  </body>
{% endblock %}

