{% extends "user_gen.html" %}

{% block content %}
  <h1>Open Rides</h1>
  <body>
  {% if open_rides != None %}
    {% for ride in open_rides %}
      <h5>Join {{ ride.owner }}'s Ride to {{ ride.destination }}.</h5>
      <p>Trip will arrive at its destination at {{ ride.arrival }}</p>
      <form action="" method="post">
        {% csrf_token %}
        <table>
          {{ form.as_table }}
        </table>
        <input type="submit" value="Join Ride">
      </form>
    {% endfor %}
  {% else %}
    <p>There are currently no open rides. Please request your own ride or try again later.</p>
  {% endif %}
  </body>
{% endblock %}
