{% extends "user_gen.html" %}

{% block content %}
  <h1>Ride</h1>
  <body>
    <h3>{{ this_ride.owner }}'s Ride (Party of {{ this_ride.num_passengers }}) </h1>
    <p><strong>Destination:</strong> {{ this_ride.destination }} </p>
    <p><strong>Trip Status:</strong> {{ this_ride.get_status_display }} </p>
    <p><strong>Arrival Time:</strong> {{ this_ride.arrival }}</p>
    {% if this_ride.status == 'f' %}
      <p>Look for {{ this_ride.driver }} with the license plate {{ this_ride.license_plate }} </p>
    {% elif this_ride.status == 'o' %}
      <p>Looking for driver...</p>
    {% else %}
      <p>Thank you for riding with {{ this_ride.driver }}.
    {% endif %}
  </body>
{% endblock %}
