{% extends "base_generic.html" %}

{% block content %}
  <h1>View All Rides</h1>
  <body>
    {% for ride in all_rides %}
      <h3> {{ ride.passenger }}'s Ride (Party of {{ ride.party_size }}) </h1>
      <p> Destination: {{ ride.destination }} </p>
      <p> Trip Status: {{ ride.status }} </p>
      <p> Look for {{ ride.driver }} driving a {{ ride.vehicle }} </p>
    {% endfor %}
  </body>
  <!--<h2>Dynamic content</h2>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
  </ul>-->
{% endblock %}
