{% extends "driver_gen.html" %}

{% block content %}
  <h1>Ride {{ ride.id }}</h1>
  <br>
  
  <body>
    <h4>{{ owner.name }}'s Ride with Party of {{ owner.num }}</h4>
    
    {% for sharer in sharers %}
    <br>
    <h4>Sharer {{sharer.name}} with Party of {{ sharer.num }}</h4>
    {% endfor %}
    <br>
    
    <p><strong>Destination:</strong> {{ ride.destination }} </p>
    <p><strong>Trip Status:</strong> {{ ride.get_status_display }} </p>
    <p><strong>Arrival Time:</strong> {{ ride.arrival }}</p>

    <form action = {% url 'finish_ride' ride=ride.id %} method="post">
      {% csrf_token %}
      <input type="submit" value="Finish Ride">
    </form>
   
  </body>
{% endblock %}
